<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunes</title>
</head>

<body>
    <h1>Tipo de Documentos y Citas comunes</h1>
    <ul>
        {% for clave, valor in contador %}
        <li>
            Nombre: {{ clave }} Cantidad: {{ valor }}
        </li>
        {% endfor %}
    </ul>
    <ul>
        {% for clave, valor in contador2 %}
        <li>
            Nombre: {{ clave }} Cantidad: {{ valor }}
        </li>
        {% endfor %}
    </ul>
    <br>
    <a href="{{ url_for('pacPorCita') }}">Pacientes Por tipo Cita</a>
</body>

</html>